html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, .wrapper{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333333;
}

h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.header,
.footer{
    flex-shrink: 0;
}

.section{
    padding: 50px 0;
}

.about{
    display: flex;
    justify-content: space-between;
}

.about-description{
    max-width: 568px;
    width: 100%;

}

.top-text{
    font-size: 20px;
    line-height: 32px;
}

.bottom-text{
    font-size: 16px;
    line-height: 26px;
}

.about-video{
    max-width: 442px;
    width: 100%;
}

.expand{
    font-size: 14px;
    line-height: 17.7px;
    color: #278AFF;
}

.link{
    
}