@import 'libs';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body, .wrapper{
    height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333333;
    min-width: 320px;
}

.container{
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 15px;
}

@media screen and (max-width: 768px) {
    .header__girl{
        opacity: 0.5;
    }
}

@media (max-width: 1140px){
    .container{
        max-width: 970px;
    }
}


@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
}


@media (max-width: 767px){
    .container{
        max-width: none;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.header,
.footer{
    flex-shrink: 0;
}

.header{
    background-color: #F8F6F7;
    position: relative;
    overflow: hidden;
}

.header .container{
    position: relative;
    padding: 0 0 136px;
}

.header__top{
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2                                     ;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.navigation__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.navigaton__item:not(:last-child){
    margin-right: 28px;
}

.navigation__link{
    font-size: 14px;
    line-height: 17px;
    color:#333333;
    font-weight: 500; 
    text-decoration: none;
}

.navigation__link:hover{
    color: #00BF78;
}

.header__contacts{
    padding-top: 38px;    
}

.contacts__tel{
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
}

.contacts__schedule{
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
}

.hero__title{   
    font-size: 48px;
    font-weight: 600;
    line-height: 58,51px;
    margin-bottom: 16px;
}

.hero__subtitle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 60px;
}

.hero{
    z-index: 2;
    position: relative;
}

.btn{
    padding: 5px;
}

.btn_large{
    padding: 10px;
    background-color: #FB9475;
    color: #FFFFFF;
    border-radius: 24px;
    border: 0;
}

.btn:hover,
.btn_large:hover{
    cursor: pointer;
    background-color: #fc815c;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__socialnetwork{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

.socialnetwork{
    list-style-type: none;
}

.header__girl img{
    position: relative;
    z-index: 1;
    display: block;
}

.header__girl{
    position: absolute;
    max-width: 524px;
    width: 100%;
    right: 90px;
    bottom: 0;
    transition: 0.3s;
}

.header__girl:before{
    content: '';
    width: 472px;
    height: 472px;
    background-color: #FB9475;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: -110px;
    right: 0;
}

.section{
    padding: 50px 0;
}

.block__title{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__description{
    max-width: 568px;
    width: 100%;
    position: relative;
}

.about__text{
    font-size: 20px;
    line-height: 32px;
}

.about__smalltext{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.about__link{
    position: absolute;
    left: 0;
    bottom: 0;
}

.about__expand{
    font-size: 14px;
    line-height: 17px;
    color: #278AFF;
}

.about__video{
    max-width: 442px;
    width: 100%;
}

.advatages{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item{
    max-width: 33%; 
    min-width: 300px; 
}

.advantages__img{
    display: block;
    margin: auto;
}

.advantages__title{
    font-style: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}

.advantages__description{
    font-style: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.popular{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    &__title{
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
    }
    &__description{
        font-size: 12px;
        line-height: 20px;
        font-weight: normal;
    }
    &__item{
        max-width: 33%;
    }
    &__block{
        padding: 15px;
    }
    &__img{
        max-width:100%;
        max-height: 100%;
    }
}

.price{
    &__list{
    display: flex;
    list-style: none;
    padding: 0;
    }
    &__item:not(:last-child){
        margin-right: 28px;
    }
    &__link{
        font-size: 14px;
        line-height: 17px;
        color:#333333;
        font-weight: 500;
        text-decoration: none;
    }
    &__link:hover{
        color: #00BF78;
    }
    &__link:focus{
        color: #00BF78;
        text-decoration: underline;
    }
    &__block{
        display: flex;
        justify-content: space-between;
    }
    &__text{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
    &__description{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}

.masters{
    
    &__list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__photo{
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    &__photo:before{
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background-color: #000;
        opacity: 0;
        transition: 0.15s;
        z-index: 1;
    }

    &__photo:hover:before{
        opacity: 0.5;
    }

    &__photo:after{
        content: 'Записаться к мастеру';
        font-weight: 500;
        color: #fff;
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 120px;
        text-align: center;
        top: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        z-index: 2;
        opacity: 0;
        transition: 0.15s;
    }

    &__photo:hover:after{
        opacity: 1;
    }

    &__name{
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
    }

    &__specialization{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }

    &__experience{
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
    }

    &__title{
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
     
    }
}

.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__photo{
        height: 338px;
        width: 338px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 8px;
        background-size: cover;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
}


.brands{
    &__text{
        text-align: center;
        line-height: 20px;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        opacity: 0.35;
    }

    &_img{
        padding: 0 35px 0;
    }
}

.container__block{
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.connection{

    &__address{
        line-height: 20px;
    }

    &__tel{
        line-height: 16px;
    }

    &__socialnetwork{
        display: flex;
    }

    &__link{
        color: #278AFF;
        line-height: 20px;
    }

    &__text{
        font-size: 12px;
        line-height: 14px;
    }
}

.socialnetwork__item:not(:last-child){
    margin-right: 28px;
}

.appointment{
    &__block{
        padding: 40px 30px;
        margin: 0 40px;
        width: 445px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
    }

    &__title{
        font-size: 18px;
        line-height: 14px;
        font-weight: 600;
    }

    &__text{
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
    }

    &__username,
    &__usertel,
    &__button{
        width: 100%;
    }

    &__link{
        color: #278AFF;
    }
}

.footer{
    & .container{
        display: flex;
        justify-content: space-between;
        margin: 20px auto;
    }
    
    &__info{
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
    
    &__copyright{
        margin-bottom: 8px;
    }
    
    &__link{
        color: #278AFF;
    }
}

.footer-nav{
    display: flex;
    justify-content: space-between;
}

.footeritem{
    padding: 14px;
    font-size: 12px;
    font-weight: 15px;
    font-weight: 540;
}